@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Message"]</h2>
<hr />
<br />
<address>
    <h3>Quality Bags Ltd.</h3><br /><br />
    <b>Address: </b>139, Carrington Rd, Auckland, NZ<br /><br />
    <b>Phone: </b>09-12345670 <br /><br />
    <b>Email: </b><a href="mailto:admin@qbags.com">admin@qbags.com</a>
</address>

